@page "/not-found"
@inject NavigationManager Nav

<div class="text-center mt-5">
    <h1 class="display-6">404</h1>
    <p class="lead">Page not found.</p>

    <button class="btn btn-primary" @onclick='() => Nav.NavigateTo("/")'>Go Home</button>
</div>